</div>
<footer class="small">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center copyright">
                <p><a href="/rules/">利用規約</a> / <a href="/privacy-policy/">プライバシーポリシー</a> / <a href="/contact/">お問い合わせ</a></p>
            </div>
            <div class="col-xs-12 text-center copyright">
                <p>Copyright © 2017 高専カンファレンス×メディアマーケット 実行委員会</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
