<header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/img/logo.png"></img>
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>

            <div class="navbar-collapse collapse navbar-right" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li
                      {{ if eq .URL  "/idea/" }}
                      class="active"
                      {{ end }}
                      ><a href="/idea/">本会の理念</a></li>

                    <li
                      {{ if eq .URL "/requirements/"}}
                      class="active"
                      {{ end }}
                      ><a href="/requirements/">参加要項</a></li>

                    <li
                      {{ if eq .URL "/faq/"}}
                      class="active"
                      {{ end }}
                      ><a href="/faq/">FAQ</a></li>

                    <li
                      {{ if eq .URL "/circles/"}}
                      class="active"
                      {{ end }}
                      ><a href="/circles/">サークル申込</a></li>

                    <li
                      {{ if eq .URL "/access/"}}
                      class="active"
                      {{ end }}
                      ><a href="/access/">アクセス</a></li>

                </ul>
            </div>
        </div>
    </div>
</header>
<div class="content">
